
@font-face{

  font-family: 'FF Dax Pro';
  
  src: url('vendor/fonts/FFDaxPro-Light.ttf') format('truetype');
  
  font-weight: lighter;
  
  font-style: normal;
  
  }




*{
 margin: 0;
 padding: 0;
 border: none;
 outline: none;
}

:root{
  color: rgba(0, 0, 0, 0.8);
}

body{
  font-family: "Open Sans", sans-serif;
}

.common-interactive-box{
  box-sizing: border-box;
  height: 30px;
  padding: 5px 3px;
  border-radius: 5px;
}

.contact-number{
  font-family: 'Lato', sans-serif;
  display: none;
  white-space: nowrap;
  color: white;
}

header{
  background-image: url("media/image/header-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 20px 30px;
}

  .top-header{
    background: #0466f8;
    border-radius: 0 0 8px 8px;
    margin-bottom: 5px;
  }

    #request-form{
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      --submit-width: 130px;
    }

      .region-select{
        width: calc(100% - var(--submit-width) - 5px);
        font-size: 13px;
        color: #0466f8;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        background: white;
      }

      .region-submit{
        width: var(--submit-width);
        font-size: 13px;
        font-weight: bold;
        background: linear-gradient(to bottom, #0466f8, #0028ed) ;
        color: white;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }

      #request-form>.contact-number{
        padding-right: 1%;
      }

    .navigation{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box;
      position: relative;
      padding: 0 19px;
      background: white;
      border-radius: 8px;
    }

    .navigation:after{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.2);
    }

      .nav-element{
        display: inline-block;
        width: 33.33%;
        height: 45px;
        line-height: 45px;
        vertical-align: middle;
        white-space: nowrap;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
      }

      .nav-element:nth-child(3n){
        text-align: right;
      }
  

  .midle-header{
    font-size: 0;
    font-family: 'Lato', sans-serif;
    color: white;

  }

    .midle-header-left{
      padding-left: 5px;
    }

      .logo-text-1{
        font-size: 65px;
      }

      .logo-text-2{
        font-family: "FF Dax Pro", "Open Sans", sans-serif;
        font-weight: lighter;
        font-size: 45px;
        line-height: 30px;
        height: 30px;
      }


#maket {
  width: 100vw;
  height: auto;
}



/*  

          Portrait and wider.

*/

@media (min-width: 610px){

.contact-number{
  display: inline-block;
}

header{
  padding: 0 0 30px;
 }

.region-select{
  width: calc(100% - var(--submit-width) - 2% - 200px);
  font-size: 15px;
}

.region-submit{
  font-size: 14px;
}

.navigation{
  flex-wrap: nowrap;
  padding: 0 3%;
}

  .navigation:after{
    display: none;
  }

  .nav-element{
    width: auto;
    height: 60px;
    line-height: 60px;
  }

  .nav-element:nth-child(3n){
    text-align: left;
  }


  
}




