*{
 margin: 0;
 padding: 0;
 border: none;
 outline: none;
}

:root{
  font-size: 0;
  color: rgba(0, 0, 0, 0.8);
}

.common-interactive{
  box-sizing: border-box;
  height: 30px;
  padding: 5px 3px;
  border-radius: 5px;
}

.contact-number{
  font-size: 18px;
  display: none;
  white-space: nowrap;
  color: white;
}

header{
  background-image: url("media/image/header-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 20px 30px;
}

  .top-header{
    background: #0466f8;
    border-radius: 0 0 8px 8px;
  }

    .top-header>form{
      padding: 5px;
      display: flex;
      justify-content: space-between;
    }

      .top-header>form>select{
        width: calc(65% - 5px);
        font-size: 14px;
        color: #0466f8;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        background: white;
      }

      .top-header>form>input[type="submit"]{
        width: 120px;
        font-size: 13px;
        font-weight: bold;
        background: linear-gradient(to bottom, #0466f8, #0028ed) ;
        color: white;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }

    .top-header>nav{
      border-radius: 8px;
      background: white;
      display: flex;
      flex-direction: column;
    }

    .top-header>nav>div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 0 20px;
    }

    .top-header>nav>div:first-child{
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    }

      .nav-element{
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      }

#maket {
  width: 100vw;
  height: auto;
}

@media (min-width: 479px) {

.contact-number{
  display: inline-block;
}

header{
  padding: 0 0 30px;
}

}

@media (min-width: 766px) {

}




