*{
 margin: 0;
 padding: 0;
 border: none;
 outline: none;
}

:root{
  font-size: 0;
}

input, select, span{
  font-size: 16px;
}

input[type="submit"], input[type="button"], select{
  box-sizing: border-box;
  height: 30px;
  padding: 5px 3px;
  border-radius: 3px;
}

header{
  background-image: url("media/image/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 20px 30px;

}

  .top-header{
    background: #2a8fe2;
    border-radius: 0 0 7px 7px;
  }

    .top-header>form{
      padding: 5px;
      display: flex;
      justify-content: space-between;
    }

      .top-header>form>select{
        width: calc(65% - 5px);
        font-size: 14px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }

      .top-header>form>input[type="submit"]{
        width: 35%;
        font-size: 14px;
        font-weight: bold;
        background: #0028ed;
        color: white;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }

#maket {
  width: 100vw;
  height: auto;
}

@media (max-width: 480px) {
  body{
    background: black;
  }
}

@media (max-width: 767px) {
  body{
    background: gray;
  }
}




